<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signup.css">
    <title>Document</title>
</head>
<body>
    <div id="mainContainer">
        <div id="textFields">
            <input type="text" id="username" class="inputField">
            <input type="password" id="password" class="inputField">
        </div>

        <button id="signupButton">SIGN UP</button>

        <p id="signup">Already have an account? <a href="/login"><u>LOG IN!</u></a></p>

    </div>


    <script src="js/signup.js"></script>
</body>
</html>